*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 6vw;
    font-weight: bold;
    padding: 3rem;
}
.coming-soon{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minute,.second{
    font-size: 3vw;
}
.weiting{
    height: 50vh;
    padding: 5vh;
}